<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">
 
	<context:component-scan base-package="shtykh.rest"/>

    <bean id="poster" class="shtykh.bot.poster.TwitterPoster"/>
    
    <bean id="parrot" abstract="true" class="shtykh.rest.parrot.Parrot"/>
    
    <bean id="sweets" parent="parrot" class="shtykh.rest.parrot.SweetsParrot"/>
    <bean id="food" parent="parrot" class="shtykh.rest.parrot.FoodParrot"/>
    <bean id="hangover" parent="parrot" class="shtykh.rest.parrot.HangoverParrot"/>
    <bean id="location" parent="parrot" class="shtykh.rest.parrot.LocationParrot"/>
    
    <bean id="bot" class="shtykh.rest.Bot" init-method="init">
        <property name="host">
            <util:constant static-field="localhost"/>
        </property>
        <property name="port">
            <util:constant static-field="8080"/>
        </property>
        <property name="parrots">
            <list>
                <ref bean="sweets"/>
                <ref bean="food"/>
                <ref bean="hangover"/>
                <ref bean="location"/>
            </list>
        </property>
    </bean>
</beans>